Repository luminainterface/luminainterface, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lumina-eng-manager, @backend-lead, @sre-lead, @api-lead, @frontend-lead, @ui-lead, @qa-lead, @devops-lead, @tech-writer, @eng-manager, @ml-lead, @security-lead, @legal-lead

feat: add backup verification and logging infrastructure
  .gitignore
  docs/backup-verification.md
  masterchat/__pycache__/main.cpython-311.pyc
  scripts/Dockerfile.backup-verifier
Owners: @lumina-eng-manager, @tech-writer, @eng-manager, @ml-lead, @backend-lead

docs: update README for public review
  README.md
Owners: @lumina-eng-manager

Update Docker service files for v1.0.1 release
  Dockerfile
  Dockerfile.connection-test
  Dockerfile.drift_monitor
  Dockerfile.exporter
  Dockerfile.test
  docker-compose.concept-dict.yml
  docker-compose.crawler.yml
  docker-compose.logging.yml
  docker-compose.minimal.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  docker-compose.yml
  docker-stack-debug-checklist.md
  ops/ollama/Dockerfile
  ops/redis/redis.conf
  prometheus.yml
  promtail-config.yml
  redis.conf
Owners: @lumina-eng-manager, @devops-lead, @sre-lead

Add service-specific Dockerfiles and compose files for v1.0.1
  services/auditor/Dockerfile
  services/batch-embedder/Dockerfile
  services/concept-dictionary/Dockerfile
  services/crawler/docker-compose.yml
  services/crawler/lumina-core/Dockerfile.event_mux
  services/debugger/Dockerfile
  services/drift-exporter/Dockerfile
  services/event-mux/Dockerfile
  services/graph-api/Dockerfile
  services/graph-concept-adapter/Dockerfile
  services/masterchat-core/Dockerfile
  services/monitoring/Dockerfile
  services/output-engine/Dockerfile
  services/pdf-trainer/Dockerfile
  services/retrain-listener/Dockerfile
  temp/crawler/docker-compose.yml
Owners: @lumina-eng-manager, @devops-lead, @sre-lead

Add bus.py and __init__.py to lumina_core.common for v1.0.2
  lumina_core/common/__init__.py
  lumina_core/common/bus.py
Owners: @backend-lead, @sre-lead

Include lumina_core.common in package distribution for Dead-Letter UI support
  lumina_core/MANIFEST.in
  lumina_core/setup.py
Owners: @backend-lead, @sre-lead

Fix packaging: ensure common is a subpackage of lumina_core and update imports accordingly
  lumina_core/setup.py
  services/dead-letter-ui/main.py
Owners: @backend-lead, @sre-lead, @lumina-eng-manager

Ensure lumina_core.common is recognized as a package by adding non-empty __init__.py
  lumina_core/common/__init__.py
Owners: @backend-lead, @sre-lead

Fix packaging: build lumina_core from project root so common is included as a subpackage (v1.0.6)
  lumina_core.egg-info/SOURCES.txt
  lumina_core/MANIFEST.in
Owners: @lumina-eng-manager, @backend-lead, @sre-lead

Fix concept dictionary imports and add metrics module
  services/concept-dictionary/concept_dictionary/db.py
  services/concept-dictionary/concept_dictionary/ingest_consumer.py
  services/concept-dictionary/concept_dictionary/main.py
  services/concept-dictionary/concept_dictionary/metrics.py
Owners: @lumina-eng-manager

RAG 2025: World's First Chat-Triggered Circular Growth System - 200% Learning Effectiveness Achieved - Revolutionary Breakthrough Technology - Open Source Release
  .gitignore
  ADVANCED_OPTIMIZATION_ROADMAP.md
  FINAL_RAG_2025_SYSTEM_TEST.py
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  RAG.md
  README.md
  REVOLUTIONARY_ACHIEVEMENT_CERTIFICATE.md
  SYSTEM_COMPLETE.md
  circular_growth_test_report.md
  docker-compose.yml
  flowchart_enhanced.md
  performance_optimizer.py
  services/rag-2025/Dockerfile
  services/rag-2025/Dockerfile.npu
  services/rag-2025/Dockerfile.npu-background
  services/rag-2025/Dockerfile.performance
  services/rag-2025/advanced_optimizations.py
  services/rag-2025/advanced_retrieval_config.json
  services/rag-2025/advanced_retrieval_engine.py
  services/rag-2025/docker-compose.npu-background.yml
  services/rag-2025/enhanced_crawler_integration.py
  services/rag-2025/interactive_background_coordinator.py
  services/rag-2025/npu_background_worker.py
  services/rag-2025/performance_optimizer.py
  services/rag-2025/performance_optimizer_api.py
  services/rag-2025/rag_2025_cpu_optimized.py
  services/rag-2025/rag_2025_gpu_simple.py
  services/rag-2025/rag_2025_hyper_upgraded.py
  services/rag-2025/rag_2025_npu_optimized.py
  services/rag-2025/rag_2025_system.py
  services/rag-2025/requirements.txt
  services/rag-2025/requirements_npu.txt
  services/rag-2025/requirements_npu_background.txt
  services/rag-2025/requirements_npu_background_minimal.txt
Owners: @lumina-eng-manager, @devops-lead, @sre-lead

Ultimate AI Orchestration Architecture v10 - Core Docker Compose File
  docker-compose-v10-ultimate.yml
Owners: @devops-lead, @sre-lead

Ultimate AI Orchestration Architecture v10 - Production Ready - Core 3-tier strategic architecture with 8-phase orchestration, strategic steering, and 37+ containerized services
  README.md
  constraint_mask.py
  docker-compose-v10-ultimate.yml
  enhanced_real_world_benchmark.py
  flow2.md
  high_rank_adapter.py
  meta_orchestration_controller.py
  services/architecture-summary/Dockerfile
  services/enhanced-execution/Dockerfile
  services/high-rank-adapter/Dockerfile
  services/meta-orchestration/Dockerfile
  services/neural-thought-engine/.dockerignore
  services/neural-thought-engine/Dockerfile
  services/neural-thought-engine/app.py
  services/neural-thought-engine/learning/__init__.py
  services/neural-thought-engine/learning/efficient_training.py
  services/neural-thought-engine/learning/intrinsic_motivation.py
  services/neural-thought-engine/requirements.txt
  start-ultimate-architecture.ps1
  start-ultimate-architecture.sh
  token_limiter.py
  ultimate_ai_architecture_summary.py
  unsat_guard.py
Owners: @lumina-eng-manager, @devops-lead, @sre-lead

\ Fix Docker compose build error - Replace rag-coordination-enhanced with rag-coordination-interface"
  docker-compose-v10-ultimate.yml
Owners: @devops-lead, @sre-lead

Add GitHub README for Confidence-Driven LoRA System
  README_CONFIDENCE_DRIVEN_SYSTEM.md
Owners: @lumina-eng-manager

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo
* @lumina-eng-manager

# Core backend services
/lumina_core/ @backend-lead @sre-lead
/lumina_core/api/ @backend-lead @api-lead
/lumina_core/event_mux.py @backend-lead @sre-lead

# Frontend and UI
/ui/ @frontend-lead @ui-lead
/ui/src/ @frontend-lead @ui-lead
/ui/cypress/ @frontend-lead @qa-lead

# Infrastructure and DevOps
/ops/ @devops-lead @sre-lead
/docker/ @devops-lead @sre-lead
/kubernetes/ @devops-lead @sre-lead

# Documentation
/docs/ @tech-writer @eng-manager
/docs/adr/ @tech-writer @eng-manager
/docs/runbooks/ @sre-lead @devops-lead

# Testing and Quality
/tests/ @qa-lead @backend-lead
/cypress/ @qa-lead @frontend-lead
/.github/workflows/ @devops-lead @sre-lead

# Data and ML
/crawler/ @ml-lead @backend-lead
/vector_store/ @ml-lead @backend-lead
/masterchat/ @ml-lead @backend-lead

# Security and Compliance
/security/ @security-lead @sre-lead
/compliance/ @security-lead @legal-lead

# Configuration files
*.yml @devops-lead @sre-lead
*.yaml @devops-lead @sre-lead
*.json @devops-lead @sre-lead
*.env* @devops-lead @sre-lead

# Monitoring and Observability
/grafana/ @sre-lead @devops-lead
/prometheus/ @sre-lead @devops-lead
/logging/ @sre-lead @devops-lead
